/* For mobile phones: */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Bungee Spice';
    margin: 0;
}
main {
    width: 70vw;
    height: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 2px;
}
section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 172, 59);
    color: rgb(243, 81, 21);
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.restart {
    display: flex;
    justify-content: center;
}
.reset {
    display: flex;
    justify-content: center;
}
.header {
    text-align: center;
}
.instructions {
    text-align: center;
}
.scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid orange 2px;
}
h1 {
    font-size: 50px;
    margin: 0px;
}
h2 {
    font-size: 15px;
}
p {
    font-size: 2.5vw;
    margin-block-start: 0%;
}
button {
    width: 25vw;
    height: 4vh;
    background-color: darkorange;
    font-size: 1.5vh;
    margin: 10px;
}
.text {
    text-align: center;
    display: block;
}
.hidden {
    font-size: 0px;
}

/* For desktop: */
@media (min-width: 880px) {

.game {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    grid-template-rows: 0.2fr 0.1fr 0.75fr 0.25fr;
    grid-template-areas: 
    'header header'
    'instructions instructions'
    'scoreboard gameboard'
    'buttons gameboard';
    /* grid-column-gap: 3em; */
    
}
button {
    width: 150px;
    height: 30px;
    font-size: larger;
}
h1 {
    font-size: 7rem;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 25px;
    margin-block-start: 0%;
}
.header {
    grid-area: header;
}
.instructions {
    grid-area: instructions;
}
.gameContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameBoard {
    grid-area: gameboard;
    max-height: 500px;
    max-width: 500px;
}
.scoreContainer {
    border: solid orange 2px;
    width: 80%;
    /* margin-left: 20%; */
    grid-area: scoreboard;
}
.score {
    flex-direction: row;
}
.text {
text-align: center;
/* width: 28rem; */
}
.buttons {
    grid-area: buttons;
}
}